
.awesome-container {
  padding-top: 80px;
  padding-bottom: 115px;
}

.awesome-title {
  margin-bottom: 25px;
  color: #212121;
  text-align: center;
}

.awesome-line {
  width: 65px;
  height: 0px;
  margin: 0 auto 30px;
  border: 1px solid #D98943;
}

.awesome-text {
  margin-bottom: 60px;
  color: #86878B;
  font-weight: 400;
  text-align: center;
  }

.awesome-card {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.awesome-card__item {
  width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px;
}

.awesome-card__item:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
  transition-property: all;
}

.awesome-card__circle {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D98943;
}

.awesome-card__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.awesome-card__text {
  line-height: 20px;
  text-align: center;
}

@media (max-width:1170px) {
  .awesome-container {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .awesome-title {
    margin-bottom: 20px;
  }
  .awesome-line {
    margin: 0 auto 20px;
  }
  .awesome-text {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .awesome-card {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .awesome-card__item {
    width: 280px;
  }
  .awesome-card__circle {
    width: 61px;
    height: 61px;
    margin-bottom: 20px;
  }
  .awesome-card__title {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333333;
  }

  .awesome-card__text {
    line-height: 16px;
    text-align: center;
    font-size: 12px;
  }
}