.banner {
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.banner-container {
  position: relative;
  z-index: 1;
  padding-top: 110px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.banner-main {
  width: 545px;
}

.banner h2 {
  color: #FFFFFF;
  margin-top: 30px;
}

.banner-main__line {
  width: 65px;
  height: 0px;
  border: 1px solid #ffffff;
  margin-top: 30px;
}

.banner-main__text {
  width: 280px;
  color: #ffffff;
  opacity: 80%;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}

.banner-form {
  width: 370px;
  background: #FFFFFF;
  border-radius: 8px;
}

.banner-form__title {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 44px;
}

.banner-form__container {
  width: 252px;
  margin: 0 auto 70px auto;
}

.banner-form__title_pink {
  color: #EC7979;
  text-transform: uppercase;
}

.banner-form__label {
  display: block;
  font-weight: 400;
  line-height: 19px;
  color: #bdbdbd;
  margin: 19px auto 0 auto;
}

.banner-form__input {
  display: block;
  border-bottom: 1px solid #bdbdbd;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 2px;
  width: 100%;
  height: 20px;
}

.banner-form__button {
  width: 100%;
  padding: 16px 0 17px 0;
  background-color: #ec7979;
  border: none;
  color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

@media (max-width:1170px) {
  .banner-container {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .banner-main {
    width: 450px;
    margin-left: 50px;
  }

  .banner h2 {
    margin-top: 20px;
  }

  .banner-main__line {
    margin-top: 20px;
  }

  .banner-main__text {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .banner-form {
    width: 250px;
    margin-right: 120px;
  }

  .banner-form__title {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .banner-form__container {
    width: 200px;
    margin: 0 auto 30px auto;
  }

  .banner-form__label {
    line-height: 15px;
    margin: 15px auto 0 auto;
    font-size: 12px;
  }

  .banner-form__input {
    padding-top: 5px;
    height: 15px;
  }

  .banner-form__button {
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 14px;
  }
}