.contact-container {
  padding-top: 80px;
  padding-bottom: 30px;
}

.contact-title {
  margin-bottom: 35px;
  color: #212121;
  text-align: center;
}

.contact-line {
  width: 65px;
  height: 0px;
  align-content: center;
  margin: 0 auto 35px;
  border: 1px solid #E72424;
}

.contact-text {
  margin: 0 auto 95px;
  text-align: center;
  color: #86878B;
}

.contact-form__container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.contact-form__block {
  flex: 1 1 300px;
  max-width: 478px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px;
}

.contact-form__label {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  margin: 19px 0 0 0;
}

.contact-form__input {
  height: 25px;
  border-bottom: 1px solid #bdbdbd;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px 0 0 0;
  padding: 2px;
  width: 100%;
  font-size: 16px;
}

.contact-form__input_full-size {
  flex-grow: 1;
}

.contact-form__button {
  display: block;
  width: 166px;
  padding: 13px;
  margin: 69px auto 0 auto;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 15px;
  background-color: #EC7979;
  border: none;
  text-align: center;
}

@media only screen and (max-width:1170px) {
  .contact-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .contact-title {
    margin-bottom: 20px;
  }
  .contact-line {
    margin: 0 auto 20px;
  }
  .contact-text {
    margin: 0 auto 30px;
    font-size: 14px;
  }
  .contact-form__block {
    flex: 1 1 200px;
    max-width: 478px;
    margin-left: 70px;
  }
  .contact-form__label {
    font-size: 12px;
    line-height: 12px;
    margin: 15px 0 0 0;
  }
  .contact-form__input {
    height: 15px;
    margin-top: 5px;
    font-size: 12px;
    width: 80%;
  }
  .contact-form__button {
    width: 150px;
    padding: 10px 25px;
    margin-top: 30px;
    font-size: 12px;
  }
}

@media only screen and (max-width:940px) {
  .contact-container {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contact-title {
    margin-bottom: 15px;
  }
  .contact-line {
    margin: 0 auto 15px;
  }
  .contact-text {
    margin: 0 auto 20px;
    font-size: 10px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form__container {
    display: flex;
    flex-direction: column;
    width: 270px;
  }
  .contact-form__block {
    flex: 1 1 0px;
    max-width: 478px;
    margin: 0px;
  }
  .contact-form__input_full-size {
    min-width: 270px;
    max-width: 350px;
    max-height: 100px;
  }
  .contact-form__label {
    font-size: 10px;
    line-height: 10px;
    margin: 15px 0 0 0;
  }
  .contact-form__input {
    height: 15px;
    margin-top: 5px;
    font-size: 10px;
    width: 100%;
    align-items: center;
  }
  .contact-form__button {
    width: 120px;
    padding: 10px 15px;
    margin-top: 30px;
    font-size: 10px;
  }
}