.customers-container {
  padding-top: 80px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 35px;
  color: #212121;
  text-align: center;
}

.customers-line {
  width: 65px;
  height: 0px;
  align-content: center;
  margin: 0 auto 35px;
  border: 1px solid #E72424;
}

.customers-text {
  margin: 0 auto 65px;
  text-align: center;
  color: #86878B;
}

.customers-dialogs {
  display: flex;
  justify-content: space-around;
}

.customers-dialog {
  width: 300px;
  margin: 0 10px 10px;
}

.customers-dialog:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
  transition-property: all;
}

.customer-dialog__message {
  border-radius: 7px;
  background-color: #E2E2E2;
  padding: 10px 25px 6px;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
  color: #86878B;
  position: relative;
  box-shadow: 1px 2px 15px 2px #86878B;
}

.customer-dialog__message::after {
  content: '';
  display: block;
  border-top: 17px solid #E2E2E2;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  left: 45px;
  top: 100%;
}

.customer-dialog__person {
  display: flex;
  justify-content: space-around;
}

.customer-dialog__photo_shiba {
  background: url(../img/shiba.jpg);
}

.customer-dialog__photo_korgi {
  background: url(../img/korgi.jpg);
}

.customer-dialog__photo_samoed {
  background: url(../img/samoed.jpg);
}

.customer-dialog__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.customer-dialog__person-specific {
  text-align: right;
  margin-top: 8px;
  line-height: 30px;
}

.customer-dialog__person-specific_name {
  font-size: 20px;
  font-weight: 700;
}

.customer-dialog__person-specific_job {
  color: #86878B;
  font-weight: 400;
}

@media (max-width:1170px) {
  .customers-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .customers-title {
    margin-bottom: 20px;
  }

  .customers-line {
    margin: 0 auto 20px;
  }

  .customers-text {
    margin: 0 auto 40px;
    font-size: 14px;
  }

  .customers-dialog {
    width: 220px;
  }

  .customers-dialog:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
    transition-property: all;
  }

  .customer-dialog__message {
    border-radius: 7px;
    padding: 5px 10px 6px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 10px 2px #86878B;
    font-size: 10px;
  }

  .customer-dialog__message::after {
    border-top: 10px solid #E2E2E2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .customer-dialog__photo {
    width: 50px;
    height: 50px;
  }

  .customer-dialog__person-specific {
    margin-top: 4px;
    line-height: 20px;
  }

  .customer-dialog__person-specific_name {
    font-size: 16px;
  }

  .customer-dialog__person-specific_job {
    font-size: 12px;
  }
}