.pricing {
  background: #f5f5f5;
}

.pricing-container {
  padding-top: 80px;
  padding-bottom: 75px;
}

.pricing-title {
  margin-bottom: 35px;
  color: #212121;
  text-align: center;
}

.pricing-line {
  width: 65px;
  height: 0px;
  align-content: center;
  margin: 0 auto 35px;
  border: 1px solid #E72424;
}

.pricing-text {
  margin: 0 auto 65px;
  text-align: center;
  color: #86878B;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
}

.pricing-card__item {
  width: 340px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.pricing-card__title {
  margin-bottom: 1px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
}

.pricing-card__price {
  margin-bottom: 2px;
  padding-top: 25px;
  padding-bottom: 35px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
}

.pricing-card__tariff_dark {
  width: 340px;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
}

.pricing-card__tariff_dark:hover {
  background-color: rgba(190, 114, 48, 0.8);
  color: #f5f5f5;
}

.pricing-card__space {
  width: 340px;
  margin-bottom: 4px;
  padding: 10px 0;
  color: #86878B;
  text-align: center;
  background-color: #FFFFFF;
}

.pricing-card__space:hover {
  background-color:  #ca6060;
  color: rgb(255, 255, 255);
}

@media (max-width:1170px) {
  .pricing-container {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .pricing-title {
    margin-bottom: 20px;
  }
  .pricing-line {
    margin: 0 auto 20px;
  }
  .pricing-text {
    margin: 0 auto 35px;
    font-size: 14px;
  }
  .pricing-card__item {
    width: 280px;
  }
  .pricing-card__title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .pricing-card__price {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 23px;
  }

  .pricing-card__tariff_dark {
    width: 280px;
  }
  .pricing-card__space {
    width: 280px;
  }
}