.social {
  background: #F8EFEF;
}

.social-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.social-text {
  width: 365px;
}

.social-text__title {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.social-text__main-text {
  font-weight: 400;
  margin-top: 14px;
  color: #86878B;
}

.social-media {
  width: 685px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.social-media__item {
  font-size: 42px;
}

.social-media__icon,
.social-media__icon:visited,
.social-media__icon:active {
  color: #cccccc;
  transition-property: all;
  transition-duration: 0.3s;
  text-decoration: none;
}

.social-media__icon:hover {
  transform: scale(1.2, 1.2);
}

@media only screen and (max-width:1170px) {
  .social-container {
    display: flex;
    justify-content: space-around;
  }
  .social-text__title {
    font-size: 16px;
  }
  .social-text__main-text {
    margin-top: 12px;
  }
  .social-media__item {
    font-size: 32px;
  }
  .social-media {
    width: 485px;
  }
}

@media only screen and (max-width:940px) {
  .social-container {
    display: flex;
    justify-content: space-around;
  }
  .social-text {
    width: 250px;
  }
  .social-text__title {
    font-size: 14px;
  }
  .social-text__main-text {
    margin-top: 8px;
    font-size: 10px;
  }
  .social-media__item {
    font-size: 26px;
  }
  .social-media {
    width: 380px;
  }
}

@media only screen and (max-width:515px) {
  .social-text {
    display: none;
  }
  .social-media {
    margin-top: 0px;
  }
}