@import url("../css/container.css");

* {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  list-style-type: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.pricing {
  width: 100%;
}